.App{
  
  background:lightblue;
  border: 2px solid black;
  padding:3px;
  font-family: 'Courier New', Courier, monospace;
}

.header{
  font-size: 1rem;
  color:white;
  border-bottom:2px solid black;
  
}
.head{
  float:right;
  margin: 10px;
}

.input{
  background-color:lightgray;
  color:white;
  margin:10px ;
  border:2px solid rgb(115, 115, 170);
  padding: 3px 20px;


}
.btn{
  background:lightgray;
  color:white;
  border:2px solid rgb(115, 115, 170);
  padding: 3px 20px;
  margin:10px
}

.table{
  background:white;
  width: 500px;
  margin: 10px;
  height: 200px;
}

tr{
  background: darkgray;
  font-size: 0.8em;
  padding: 8px;
  text-align: center;
}

th {
  background-color:lightskyblue;
  color: white;
  text-align: left;
  padding: 0 8px;
}
tr:hover {background-color: #f5f5f5;}

tbody tr:nth-child(even){background-color:lightgray}

.about{
  width: 300px;
  height: 300px;
  position: relative;
}
.about h1{
  position: absolute;
  font-size: 1.2em;
  text-align: left;
  top: 50px;
  left: 450px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}