<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person Page</title>
</head>
<body>
    <!-- EJS engine example romal  -->
    <h1>EJS engine example <%=ID %> </h1>   
</body>
</html>