<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>contact </h1>
    <h2>My Email : <%=email %></h2>
    <h2>My Address :<%=address %></h2>
    <h2>Phone : <%=phone %></h2>
</body>
</html>