.slideshow{
    margin:0 auto;
    padding-top:300px;
    height: 1000px;
    background: skyblue;
    box-sizing: border-box;
  }
  .content{
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
  }
  .content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
  }
  .content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
  }
  .content-carrousel figure{
    width: 200px;
    height:200px;
    border-radius: 100%;
    overflow:hidden;
    position: absolute;
  }
  
  // .content-carrousel figure img{
  //   height: 100px;
   

  // }
  // .content-carrousel figure img:hover{
  //     padding: 10px;
  //     width: 300px;
  //     height: 300px;
  //     border-radius: 100%;
        
  // }
  
  
  .content-carrousel figure:nth-child(1){
    transform:rotateZ(0deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(2){
    transform:rotateZ(40deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(3){
    transform:rotateZ(80deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(4){
    transform:rotateZ(120deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(5){
    transform:rotateZ(160deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(6){
    transform:rotateZ(200deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(7){
    transform:rotateZ(240deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(8){
    transform:rotateZ(280deg) translateY(300px);
  }
  .content-carrousel figure:nth-child(9){
    transform:rotateZ(320deg) translateY(300px);
  }
  
  .shadow{
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 2px;
  }
  .content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  .content-carrousel img:hover{
    transform:scale(1.2);
    transition: all 300ms;
  }
  @keyframes rotar{
    from{
      transform: rotateZ(0deg)
    }to{
      transform: rotateZ(360deg);
    }
  }