*{
    box-sizing: border-box;
}
.container{
    /* background-color: aquamarine; */
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-image: 
    linear-gradient(to top, rgba(174,36,179,0.8),
    rgba(127,216,228,0.8));
    padding: 25px;
}
.container label{
    display: inline-block;
    border: 0px solid red;
    width: 60%;
    height: 20px;
    text-align: left;
    font-size: 1.3em;
}
.container input[type="text"]{
    background-color:white;
    color:darkgoldenrod;
    font-size:1.7em;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat:  no-repeat;
    padding-left:45px;
    transition: all linear 400ms;    

}
.container input[type="text"]:focus{
    color:black;
    font-weight: 300;
    border: 2px solid darkblue;
    width:60%;    
}
.container textarea{
    padding: 15px 10px;
    resize:none;
    font-size:1.4em;
    color:orange;   
 }


.coutainer input:not([type='checkbox']),textarea,select{
    font-size: 1.6em;
    background-color: beige;
    width: 60%;
    box-sizing: border-box;
}

.container input[type="submit"]{
    font-size: 1.5em;
    background-color: aqua;
    padding:10px 10px;
    color: white;
    font-weight: bold;
    border: 0;
    text-transform: uppercase;
}

.container input[type="submit"]:hover{
    background:aqua;
    outline:none;
    box-shadow: 0 4px black;
 
    color: darkgray;

}
.container input[type="radio"]{
    width: 10px;
    height: 10px;
 
}
.radio{
    border: 0px solid green;
    margin: 0 auto;
    text-align: left;
}

.container input[type="checkbox"]{
    width: 10px;
    height: 10px;
}

.container input,textarea,select{
    width: 40%;
    border-radius: 20px;
}
@media only  screen and (max-width:600px){
    .container,input,textarea,label,p{
        width:100%;
    }
}
