//vars
$font-stack:    Helvetica, sans-serif;
$primary-color: blue;
$link-color:green;

//nesting
nav{
    border: 1px solid red;
    // padding:30px;
    ul {
        margin:0;
        padding: 10px;
        list-style: none;
    }

    li{
        display: inline-block;
    }
}

a:visited{
    color: $link-color;
}

