*{
    box-sizing: border-box;
 
}
h1{
    text-align: center;
    margin-top: 60px;
}
ul{
 
        display: flex;
        justify-content: center;
        align-items: center;
}

nav ul li{
    color: blueviolet;
    padding: 30px;
    display: inline-block;
    padding-top: 40px;
}

a{
    text-decoration: none;
}

.cards {
    column-count: 3;
    column-width: 100px;
    text-align: center;
    border: 2px solid red;
}
.card p{
    padding-left: 30px;
}

.card h4{
    color: black;
    font-size: 20px;
    text-align: center;
}

article{
    height: 300px;
    padding-top: 90px;
}

img{
    width: 350px;
    height: 300px;
    padding: 20px;
    float: left;
}
aside{
    padding-left: 52px;;
}
section{
    padding-left: 52px;
}
footer ul li{
    color: blueviolet;
    padding: 25px;
    display: inline-block;
    padding-bottom: 50px;
}
