
.div1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: background 3s, width 6s,border-radius 2s;
    transition: all 3s;
    transition-timing-function: linear;
    transition-timing-function: ease-in; 
    /* transition-timing-function: ease-in-out;
    /* transition-delay: 1s; */
    /* transition-timing-function: cubic-bezier(.17,.88,.86,.36); */
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0s;
    position: relative;

}

 /* .div1:hover{
    background: rgb(134,20,190);
    border: 3px solid black;
    width: 500px;
    height: 500px;
    border-radius: 45px;
    transform: translate(100px,100px) rotate(180deg); 
    opacity: 0.4;

}  */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  .div2{
      width: 150px;
      height: 150px;
      margin: 50px;
      position: relative;
      background-color: yellow;
      animation-name:myanimation ,newanimation;
      animation-duration: 5s;
      animation-iteration-count:infinite;
      animation-timing-function: cubic-bezier(.4,1.11,.27,.04);     
      animation-direction: alternate-reverse; 
  }
  @keyframes myanimation{
      from{background: url('foto1.jpg')}
      to{background: url('foto2.jpg') no-repeat;}
  }
  @keyframes newanimation{
      from{width: 150px;}
      to{width: 300px; height: 300px;transform: translate(200px,200px) rotateY(180deg) 
        rotateX(180deg);
        opacity: 0.6;}
  }