body{
  margin:0 auto;
}
nav{
  background:lightblue;
  padding:1px 0px;
  
}
nav li{
  left:"float";
  display: inline-block;
  padding-right: 20px;
}
li a{
  text-decoration: none;
  text-align: center;
}

.drop{
  position: relative;
  text-align: center;
  text-decoration: none;
  list-style: none;
  background: lightblue;
  width:150px;
  padding:10px;
  border-bottom: 1px dotted gray;
  top:-16px;
  left: 200px;
}


