body{
    font-family: sans-serif;
}
h1{
    color: blue;
    font-family: sans-serif;
}
li{
    font-family: inherit;
}
code{
    font-family: monospace;
    color: red;

}
.second code{
    color: green;
}
li + li{
    background-color: black;
    color: white;
}
ol li{
    background-color: black;
    color: white;
}